{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!--Slider CSS-->
<link rel="stylesheet" href="{% static 'css/slider.css' %}">  
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100 pb-5 g-0">
        <div class="row h-100 g-0" id="hero">
            <div class="col-7 col-sm-10 offset-sm-1 my-auto g-0" id="hero-over">
                <div class="col-12 col-md-4">
                    <h1 class="display-4 logo-font text-white">
                        Your Next Big <br>Project Awaits
                    </h1>    
                </div>
                <div>
                    <h2 class="my-5">
                        <a href="#" class="shop-now-button btn btn-lg rounded-1 text-uppercase py-3">
                            Let's Go!
                        </a>
                    </h2>
                </div>
            </div>  
            <div id="blend-over">
            </div>  
        </div>
        <div class="row">
            <div class="col text-center">
                <i class="fas fa-chevron-circle-down downIcon"></i>
            </div>
        </div>
    </div>
    <div class="container pb-5 rounded-3" id="popular-categories">
        <h2 class="logo-font">Popular Categories</h2>
        <hr class="left-div">
        <section class="customer-logos slider ">
            <div class="slide relative">
                <p class="lead logo-font text-top">Web Design</p>
                <img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
            </div>
            <div class="slide relative">
                <p class="lead logo-font text-top">Logo Design</p>
                <img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg">
            </div>
            <div class="slide relative">
                <p class="lead logo-font text-top">WordPress</p>
                <img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg">
            </div>
            <div class="slide relative">
                <p class="lead logo-font text-top">SEO</p>
                <img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg">
            </div>
            <div class="slide relative">
                <p class="lead logo-font text-top">Guest Posting</p>
                <img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg">
            </div>
            <div class="slide relative">
                <p class="lead logo-font text-top">Graphic Design</p>
                <img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg">
            </div>
            <div class="slide relative">
                <p class="lead logo-font text-top">Video Editing</p>
                <img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg">
            </div>
            <div class="slide relative">
                <p class="lead logo-font text-top">Custom Scripts</p>
                <img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg">
            </div>
        </section>
    </div>
    <div class="container pb-5 rounded-3" id="popular-products">
        <!--Get 8-15 products friendly name in paragraph, and image in the image field-->
        <h2 class="logo-font">Popular Products</h2>
        <hr class="left-div">
        <section class="customer-logos slider">
            <a href="">
                <div class="slide relative infront">
                    <p class="lead logo-font text-top">Web Design</p>
                    <img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
                </div>
            </a>
            <a href="">
                <div class="slide relative infront">
                    <p class="lead logo-font text-top">Web Design</p>
                    <img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
                </div>
            </a>
            <a href="">
                <div class="slide relative infront">
                    <p class="lead logo-font text-top">Web Design</p>
                    <img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
                </div>
            </a>
            <a href="">
                <div class="slide relative infront">
                    <p class="lead logo-font text-top">Web Design</p>
                    <img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
                </div>
            </a>
            <a href="">
                <div class="slide relative infront">
                    <p class="lead logo-font text-top">Web Design</p>
                    <img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
                </div>
            </a>
            <a href="">
                <div class="slide relative infront">
                    <p class="lead logo-font text-top">Web Design</p>
                    <img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
                </div>
            </a>
            <a href="">
                <div class="slide relative infront">
                    <p class="lead logo-font text-top">Web Design</p>
                    <img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
                </div>
            </a>
            <a href="">
                <div class="slide relative infront">
                    <p class="lead logo-font text-top">Web Design</p>
                    <img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
                </div>
            </a>
        </section>
    </div>

    <div class="container pt-5 pb-5 rounded-3" id="why-freelance">
        <h2 class="logo-font">Why Freelance?</h2>
        <hr class="left-div">
        <p class="h3 p-2"><u>What Are The Benefits Of Hiring Freelancers?</u></p>
        <p class="lh-2 text-center">
            Using freelancers for your project or business is a cost efficient way of providing long term solutions against a temporary cost. <br>
            As freelancers are not full employees, you will only be required to pay freelancers for their specified duty, rather than have them as an <br>
            ongoing expense on your balance sheet. This keeps your unit costs down, and will help provide a more stable balance sheet.
        </p>
            
        <p class="h3 p-2"><u>Who Uses Freelancers?</u></p>
        <p class="lh-2 text-center">
            Just about every company nowadays with an online business hire freelancers at one stage or another. To employ staff that are competent in all <br>
            areas would be extremely difficult. Therefore outsourcing services such as graphic design, video editing and SEO can be much more cost effective <br>
            than hiring these individuals on a full time basis.
        </p>
        <p class="h3 p-2"><u>What Are The Benefits For Freelancers?</u></p>
        <p class="lh-2 text-center">
            As a freelancer you will have the power to set your own schedule, and work as much or as little as you like! This flexibility is not <br>
            available in a regular workplace. As a freelancer, you can either freelance full time, or part time. With such flexibility, you will be capable of <br>
            either freelancing for a full time income, or suppliment your current work by offering your knowledge and skills when your not working at your day job. <br>
        </p>
        <div class="row mt-5">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0">
                <hr class="hr-center">
                <h3 class="h4 text-center logo-font text-black-shadow p-2 lh-2">Why Hire Freelancers?</h3>
                <hr class="hr-center">
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0">
                <hr class="hr-center">
                <h3 class="h4 text-center logo-font text-black-shadow p-2 lh-2">Why Be A Freelancer?</h3>
                <hr class="hr-center">
            </div>
        </div>
    </div>
    
{% endblock %}
{% block postloadjs %}
    <script type="text/javascript">
        $('.downIcon').click(function(){
            $('html, body').animate({
                scrollTop: $('#popular-categories').offset().top
            }, 400);
        });
        $(document).ready(function(){
            $('.customer-logos').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
        });
    </script>
{% endblock %}