{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 pb-5 g-0">
        <div class="row h-100 g-0" id="hero">
            <div class="col-7 col-sm-10 offset-sm-1 my-auto g-0" id="hero-over">
                <div class="col-12 col-md-4">
                    <h1 class="display-4 logo-font text-white">
                        Your Next Big <br>Project Awaits
                    </h1>    
                </div>
                <div>
                    <h2 class="my-5">
                        <a href="#" class="shop-now-button btn btn-lg rounded-1 text-uppercase py-3">
                            Let's Go!
                        </a>
                    </h2>
                </div>
            </div>  
            <div id="blend-over">
            </div>  
        </div>
        <div class="row">
            <div class="col text-center">
                <i class="fas fa-chevron-circle-down downIcon"></i>
            </div>
        </div>
    </div>
    <div class="container" id="popular-categories">
        <div class="row">
            <div class="col">
                <h2 class="logo-font">Popular Categories</h2>
                <hr class="left-div">
                <div class="relative">
                    <div class="absolute-blend"></div>
                    <h1 class="text-center">Slider Here</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    <script type="text/javascript">
    $('.downIcon').click(function(){
        $('html, body').animate({
            scrollTop: $('#popular-categories').offset().top -150
        }, 400);
    });
    $(document).ready(function(){
        let myCarousel = document.querySelector('#myCarousel')
        let carousel = new bootstrap.Carousel(myCarousel, {
            interval: 2000,
            wrap: false,
            ride: true,
        });
    })
    </script>
{% endblock %}