{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Welcome {{ user }}</h1>
<h2>{{message}}</h2>
<!--MESSAGE -   First = First name and last name, email, phone.
                Second = Bio
                Third = Skill & qualification
                Fourth = Image and social-->
    <div class="container">
        <!--Form Stars Here-->
        <form class="mt-3" action="{% url 'profile' %}" method="POST" id="my-profile-update-form">
            {% csrf_token %}
            <div class="row" id="first">
                <h1>First</h1>
                <button class="btn btn-black rounded-0 text-uppercase float-end" disabled>Previous</button>
                <button class="btn btn-black rounded-0 text-uppercase float-end" id="view2">Next</button>
            </div>
            <div class="row" id="second">
                <h1>Second</h1>
                <button class="btn btn-black rounded-0 text-uppercase float-end" id="back1">Previous</button>
                <button class="btn btn-black rounded-0 text-uppercase float-end" id="view3">next</button>
            </div>
            <div class="row" id="third">
                <h1>Third</h1>
                <button class="btn btn-black rounded-0 text-uppercase float-end" id="back2">Previous</button>
                <button class="btn btn-black rounded-0 text-uppercase float-end" id="view4">next</button>
            </div>
            <div class="row" id="fourth">
                <h1>Four</h1>
                <button class="btn btn-black rounded-0 text-uppercase float-end" id="back3">Previous</button>
                <button class="btn btn-black rounded-0 text-uppercase float-end" disabled>next</button>
            </div>
        </form>
    </div>
    


<img src="{{ profile.image.url }}" alt="test">
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-black rounded-0 text-uppercase float-end">Update Information</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}
{% block postloadjs %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#second').hide();
            $('#third').hide();
            $('#fourth').hide();
        });
        // Forwards
        $('#view2').click(function(e){
                e.preventDefault();
                $('#first').hide();
                $('#second').show();
            });
        $('#view3').click(function(e){
                e.preventDefault();
                $('#second').hide();
                $('#third').show();
            });
        $('#view4').click(function(e){
                e.preventDefault();
                $('#third').hide();
                $('#fourth').show();
            });
        // Backwards
        $('#back1').click(function(e){
                e.preventDefault();
                $('#second').hide();
                $('#first').show();
            });
        $('#back2').click(function(e){
                e.preventDefault();
                $('#third').hide();
                $('#second').show();
            });
        $('#back3').click(function(e){
                e.preventDefault();
                $('#fourth').hide();
                $('#third').show();
            });
    </script>
{% endblock %}