{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <p class="small breadcrumbs">
                <strong>You Are Here:</strong> 
                <a href="{% url 'home' %}">HOME</a> <i class="fas fa-chevron-circle-right"></i> 
                <a href="{% url 'ProfileView' %}">PROFILE</a>
            </p>
            <div class="col-12 text-center">
                <h1 class="logo-font display-3 text-muted">
                    {{user}}'s Profile
                </h1>
                {% if user.profile.user_type == 1 %}
                    <h2><span class="text-muted logo-font">Account Type:</span> <u>Member</u></h2>
                    <p class="text-muted">Change To <a href="">Freelancer?</a></p>
                {% else %}
                    <h2><span class="text-muted logo-font">Account Type:</span> <u>Freelancer</u></h2>
                    <p class="text-muted">Change To <a href="">Basic Member Account?</a></p>
                {% endif %}
                <p class="h4"></p>
                <hr class="hr-center">
            </div>
        </div>
    </div>
    <!--Analytics Section-->
    <div class="container mb-5">
        <div class="row">
            <div class="col border-white p-3 text-center">
                <h3 class="logo-font text-muted">Sales:</h3>
                <hr class="hr-center">
                <br>
                <p class="lead">{{user.profile.sales}}</p>
            </div>
            <div class="col border-white p-3 text-center">
                <h3 class="logo-font text-muted">Earnings:</h3>
                <hr class="hr-center">
                <br>
                <p class="lead">€{{user.profile.earnings}}</p>
            </div>
            <div class="col border-white p-3 text-center">
                <h3 class="logo-font text-muted">Rating:</h3>
                <hr class="hr-center">
                <br>
                <p class="lead">{{user.profile.rating}}</p>
            </div>
            <div class="col border-white p-3 text-center">
                <h3 class="logo-font text-muted">Rank:</h3>
                <hr class="hr-center">
                <br>
                {% if user.profile.rank == 5 %}
                    <p class="lead">General</p>
                {% elif user.profile.rank == 4 %}
                    <p class="lead">Sergeant</p>
                {% elif user.profile.rank == 3 %}
                    <p class="lead">Officer</p>
                {% elif user.profile.rank == 2 %}
                    <p class="lead">Recruit</p>
                {% elif user.profile.rank == 1 %}
                    <p class="lead">Member</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 offset-sm-0 col-md-4 offset-md-1 col-lg-2 offset-lg-1">
                <div class="profile-photo">
                    <img src="{{ user.profile.image.url }}" alt="{{user}}s photo">
                </div>
                <div class="w-100 mx-auto">
                    {% if user.profile.first_name %}
                    <p class="h6 text-center mt-3"><span class="text-muted">Name: </span><br>{{user.profile.first_name}}</p>
                    {% else %}
                    <p class="h6 text-center mt-3"><span class="text-muted">Username: </span><br>{{user}}</p>
                    {% endif %}
                    <p class="h6 text-center"><span class="text-muted">Member Since: </span><br>{{user.profile.member_since}}</p>
                    {% if user.profile.user_type == 1 %}
                        <p class="h6 text-center"><span class="text-muted">Account Type:</span><br>Member</p>
                    {% elif user.profile.user_type == 2 %}
                        <p class="h6 text-center"><span class="text-muted">Account Type:</span><br>Freelancer</p>
                    {% endif %}
                    <div class="row ms-3 me-3">
                        <button class="btn btn-success btn-sm" type="button">Edit Profile</button><br>
                        <button class="btn btn-success mt-1 btn-sm" type="button">Edit Profile</button>    
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-9">
                <!--Inner Layer-->
                <div class="row border-white profile-control-card" id="profile-details">
                    <!--Left Div-->
                    <div class="col-12 col-sm-12 col-md-6">
                        <p class="h5"><span class="text-muted">Username:</span> {{user}}</p>
                        <p class="h5"><span class="text-muted">First Name:</span> {{user.profile.first_name}}</p>
                        <p class="h5"><span class="text-muted">Second Name:</span> {{user.profile.last_name}}</p>
                    {% if user.profile.user_type == 1 %}
                        <p class="h5"><span class="text-muted">Account Type:</span> Member</p>
                    {% elif user.profile.user_type == 2 %}
                        <p class="h5"><span class="text-muted">Account Type:</span> Freelancer</p>
                    {% endif %}
                    </div>
                    <!--Right Div-->
                    <div class="col-12 col-sm-12 col-md-6">
                        <p class="h5"><span class="text-muted">Email:</span> {{user.profile.email}}</p>
                        <p class="h5"><span class="text-muted">Rating:</span> {{user.profile.rating}}</p>
                        <p class="h5"><span class="text-muted">Username:</span> {{user}}</p>
                        <p class="h5"><span class="text-muted">Username:</span> {{user}}</p>
                    </div>
                </div>
                <div class="row border-white profile-control-card" id="add_product">
                    
                </div>
                <div class="row border-white profile-control-card" id="edit_product">
                    section
                </div>
                <div class="row border-white profile-control-card" id="edit_profile">
                    section
                </div>
                <div class="row border-white profile-control-card" id="delete_product">
                    section
                </div>
                <div class="row border-white profile-control-card" id="delete_profile">
                    section
                </div>
            </div>
        </div>
    </div>

    

{% endblock %}
{% block postloadjs %}
    <script type="text/javascript">

    </script>
{% endblock %}