html{
    height:100%;
}

body{
    background: #333333;
    min-height: 100vh;
    color: #fafafa;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 1px;
    max-width: 100vw;
    overflow-x: hidden;
}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
#space-top{
    margin-top: 150px;
}
.logo-font{
    text-transform: uppercase;
}

#topnav{
    background: #fafafa;
    color: #333333
}

#bottomnav>div{
    border-left: 2px solid #fafafa;
    border-right: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
}

#bottomnav p{
    letter-spacing: 1px;
    text-shadow: 1px 2px 5px #198754;
    color: #fafafa;
}

.main-logo-link{
    width: fit-content;
}

/* --- Div Styling --- */
.inner-green{
    background: linear-gradient(90deg, #198754, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, #198754),
                linear-gradient(180deg, #198754, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, #198754);
}

.absolute-green{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #198754, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, #198754),
                linear-gradient(180deg, #198754, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, #198754);
    z-index: 5;
}
.absolute-blend{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #333333 5%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, #333333 95%),
                linear-gradient(180deg, #333333, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, #333333 95%);
    z-index: 5;
}
#blend-over{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #333333 5%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, #333333 95%),
                linear-gradient(180deg, #333333, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, #333333 95%);
    z-index: 0;
}
/* --- Text --- */
.text-black{
    color: #000 !important;
}
.text-white{
    color: #fafafa !important;
}
.green-shadow{
    text-shadow: 1px 2px 5px #198754;
}
.popover-header{
    color: #198754;
    background: #000;
    text-align: center;
}
.lh-2{
    line-height: 2;
}
.text-black-shadow{
    text-shadow: 1px 1px 3px #000000;
}

/* --- Buttons --- */

.btn-black{
    background: #000;
    color: #fafafa;
    border: 2px solid #fafafa;
    box-shadow: 2px 2px 5px #fafafa;
    transition: all 0.2s ease-in-out;
}
.btn-white,
.active-btn{
    background: #fafafa;
    color: #000;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px #000;
    transition: all 0.2s ease-in-out;
}
.btn-black:hover,
.btn-black:active,
.btn-black:focus{
    background: #fafafa;
    color: #000;
    text-shadow: 1px 1px 3px #333333;
}

.shop-now-button{
    background: #fafafa;
    color: #000;
    min-width: 260px;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px #000;
    transition: all 0.1s ease-in;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-white:hover,
.btn-white:active,
.btn-white:focus{
    background: #000;
    color: #fafafa;
    border: 2px solid #fafafa;
    font-weight: bolder;
    box-shadow: 2px 2px 5px #fafafa;
}

/* Visibility */
.hidden{
    display: none;
}

/* Positioning */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.right{
    right: 5px;
}
.behind{
    z-index: -10;
}
.infront{
    z-index: 10;
}

/* --- Borders --- */
.border-black{
    border: 1px solid #000;
}
.border-white{
    border: 1px solid #fafafa;
}

/* --- Deviders / Breadcrumbs --- */
.hr-center{
    margin: 0 auto;
    width: 100px;
    border: 2px;
    padding: 1px;
}
.left-div{
    width: 250px;
    border: 2px;
    padding: 1px;
}
.breadcrumbs,
.breadcrumbs i{
    color: #198754;
}
.breadcrumbs a{
    color: #fafafa;
}
#footer{
    position: relative;
    margin-top: 20px;
}

/* --- Photo Divs --- */
.profile-photo{
    height: auto;
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.profile-photo img{
    height: 100%;
    width: 100%;
}
/* ------------------------------------- Allauth / Accounts --- */
#signup-container{
    margin-top: -100px;
}
#login-container{
    margin-top: -100px;
}
.cardImageThumb{
    max-width: 250px;
    height: auto;
    margin: 0 auto;
}
#registration-container{
    margin-top: -100px;
}
/* ------------------------------------- Homepage --- */
#hero{
    position: relative;
    background: url('../img/mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    min-height: 90vh;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;

}
#hero h1{
    text-shadow: 3px 2px 3px #000;
}
#hero h2{
    text-shadow: 1px 2px 3px #333333;
}
#hero-over{
    position: relative;
    z-index: 10;
}
.text-top{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(25,135,84,0.9);
    color: #333333;
    text-shadow: 1px -1px 3px #fafafa;
    font-weight: bolder;
    padding: 5px;
}
.downIcon{
    position: relative;
    font-size: xx-large;
    margin-top: -75px;
    z-index: 100;
    color: #198754;
    text-shadow: 1px 1px 3px #fafafa;
}
.downIcon:hover{
    text-shadow: 0 1px 2px #fafafa;
    cursor: pointer;
}
#popular-categories{
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}
#why-freelance{
    margin-top: 50px;
}
/* ------------------------------------- About Pages --- */

#about-box{
    overflow: hidden;
    margin-bottom: 50px;
    margin: 0 auto;
}
#tabs{
    overflow-y: auto;
}
#tabs p{
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: help;
}
#info-box p{
    line-height: 2;
}
#info-box{
    width: 100;
    margin: 0;
}

/* --- Members --- */
#dashboard-image{
    position: relative;
    background: url('../img/control.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
}
#deals-image{
    position: relative;
    background: url('../img/deals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 100%;
}
#access-freelancers{
    position: relative;
    background: url('../img/freelancers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    height: 350px;
    width: 100%;
}
.about-buttons{
    font-weight: bolder;
    font-size: large;
    background: linear-gradient(90deg, #198754, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, #198754),
                linear-gradient(180deg, #198754, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, #198754);
    border: 1px solid #000;
    transition: all 0.3s ease-in-out;
    padding: 5px;
    color: #000;
}
.about-buttons:hover{
    background: linear-gradient(90deg, #198754, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, #198754),
                linear-gradient(180deg, #198754, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, #198754);
    color: #fafafa;
    transform: rotate(5deg);
    cursor: crosshair;
    border: 1px solid #fafafa;
}

/* ------------------------------------- Profile Pages --- */
.profile-control-card{
    padding-left:50px;
    padding-right: 50px;
}

/* ------------------------------------- Media Queries --- */
/* Slightly larger container on XL screens */
@media (min-width: 1200px){
    .container{
        max-width: 90%;
    }
}
/* Fixed top navbar only on medium and up */
@media (min-width: 992px){
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
    }
    .header-container{
        padding-top: 90px;
    }
    .small-only{
        display: none;
    }
}
/* small screens */
@media (max-width: 991px){
    .profile-photo{
        width:100px;
        overflow: hidden;
    }
    .header-container{
        padding-top: 150px;
    }
    #bottomnav{
        display: none;
    }
    #space-top{
        margin-top: 250px;
    }
    .med-and-up{
        display: none;
    }
    #logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* ---- Carousel ---- */
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators{
    z-index: 10;
}
.carousel-control-prev,
.carousel-control-next{
    font-size: xx-large;
    text-shadow: 2px 2px 5px #198754;
    color: #fafafa;
}
.carousel-control-prev{
    margin-left: 50px;
}
.carousel-control-next{
    margin-right: 50px;
}
