html{
    height:100%;
}

body{
    background: #333333;
    height: calc(100vh - 164px);
    color: #fafafa;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 1px;
}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
#space-top{
    margin-top: 150px;
}
.logo-font{
    text-transform: uppercase;
}

#topnav{
    background: #fafafa;
    color: #333333
}

#bottomnav>div{
    border-left: 2px solid #fafafa;
    border-right: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
}

#bottomnav p{
    letter-spacing: 1px;
    text-shadow: 1px 2px 5px #198754;
    color: #fafafa;
}

.main-logo-link{
    width: fit-content;
}
.shop-now-button{
    background: #fafafa;
    color: #000;
    min-width: 260px;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px #000;
    transition: all 0.2s ease-in-out;
}

/* --- Div Styling --- */
.inner-green{
    background: linear-gradient(90deg, #198754, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, #198754),
                linear-gradient(180deg, #198754, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, #198754);
}
.absolute-green{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #198754, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, #198754),
                linear-gradient(180deg, #198754, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, #198754);
    z-index: 5;
}

/* --- Text --- */
.text-black{
    color: #000 !important;
}
.text-white{
    color: #fafafa !important;
}
.green-shadow{
    text-shadow: 1px 2px 5px #198754;
}
.popover-header{
    color: #198754;
    background: #000;
    text-align: center;
}
.lh-2{
    line-height: 2;
}

/* --- Buttons --- */

.btn-black{
    background: #000;
    color: #fafafa;
    border: 2px solid #fafafa;
    box-shadow: 2px 2px 5px #fafafa;
    transition: all 0.2s ease-in-out;
}
.btn-white,
.active-btn{
    background: #fafafa;
    color: #000;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px #000;
    transition: all 0.2s ease-in-out;
}
.btn-black:hover,
.btn-black:active,
.btn-black:focus{
    background: #fafafa;
    color: #000;
    text-shadow: 1px 1px 3px #333333;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-white:hover,
.btn-white:active,
.btn-white:focus{
    background: #000;
    color: #fafafa;
    border: 2px solid #fafafa;
    font-weight: bolder;
    box-shadow: 2px 2px 5px #fafafa;
}

/* Positioning */
.relative{
    position: relative;
}
.behind{
    z-index: -10;
}

/* --- Borders --- */
.border-black{
    border: 1px solid #000;
}
.border-white{
    border: 1px solid #fafafa;
}
/* --- Deviders / Breadcrumbs --- */
.hr-center{
    margin: 0 auto;
    width: 100px;
    border: 2px;
    padding: 1px;
}
.left-div{
    width: 250px;
    border: 2px;
    padding: 1px;
}
.breadcrumbs,
.breadcrumbs i{
    color: #198754;
}
.breadcrumbs a{
    color: #fafafa;
}
/* ------------------------------------- Homepage --- */
#hero{
    position: relative;
    background: url('../img/mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
#hero h1{
    text-shadow: 3px 2px 3px #000;
}
#hero h2{
    text-shadow: 1px 2px 3px #333333;
}
#hero-over{
    position: relative;
    z-index: 10;
}
#blend-over{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #333333 5%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, #333333 95%),
                linear-gradient(180deg, #333333, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, #333333 95%);
    z-index: 0;
}

/* ------------------------------------- About Pages --- */

#about-box{
    overflow: hidden;
    margin-bottom: 50px;
}
#tabs{
    overflow-y: auto;
}
#tabs p{
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: help;
}
#info-box p{
    line-height: 2;
}
/* --- Members --- */
#dashboard-image{
    position: relative;
    background: url('../img/control.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
}
#deals-image{
    position: relative;
    background: url('../img/deals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 100%;
}
#access-freelancers{
    position: relative;
    background: url('../img/freelancers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    height: 350px;
    width: 100%;
}
.about-buttons{
    font-weight: bolder;
    font-size: large;
    background: #333333;
    border: 1px solid #000;
    transition: all 0.3s ease-in-out;
    padding: 5px;
    color: #000;
}
.about-buttons:hover{
    background: #000;
    color: #fafafa;
    transform: rotate(5deg);
    cursor: crosshair;
    border: 1px solid #fafafa;
}
/* ------------------------------------- Media Queries --- */
/* Slightly larger container on XL screens */
@media (min-width: 1200px){
    .container{
        max-width: 90%;
    }
}
/* Fixed top navbar only on medium and up */
@media (min-width: 992px){
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
    }
    .header-container{
        padding-top: 90px;
    }
    .small-only{
        display: none;
    }
}
/* small screens */
@media (max-width: 991px){
    .header-container{
        padding-top: 150px;
    }
    #bottomnav{
        display: none;
    }
    #space-top{
        margin-top: 250px;
    }
    .med-and-up{
        display: none;
    }
}