html{
    height:100%;
}

body{
    background: #333333;
    height: calc(100vh - 164px);
    color: #fafafa;
    font-family: 'Share Tech Mono', monospace;
}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.logo-font{
    text-transform: uppercase;
}

#topnav{
    background: #fafafa;
}
#bottomnav>div{
    border: 2px solid #fafafa;
}

.main-logo-link{
    width: fit-content;
}
.shop-now-button{
    background: #fafafa;
    color: #000;
    min-width: 260px;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px #000;
    transition: all 0.2s ease-in-out;
}
.btn-black{
    background: #fafafa;
    color: #000;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px #000;
    transition: all 0.2s ease-in-out;
}
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus{
    background: #000;
    color: #fafafa;
    border: 2px solid #fafafa;
    font-weight: bolder;
    box-shadow: 2px 2px 5px #fafafa;
}
.text-black{
    color: #000 !important;
}
.text-white{
    color: #fafafa !important;
}
.border-black{
    border: 1px solid #000;
}
.border-white{
    border: 1px solid #fafafa;
}
/* ------------------------------------- Homepage --- */
#hero{
    position: relative;
    background: url('../img/mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#hero h1{
    text-shadow: 3px 2px 3px #000;
}
#hero h2{
    text-shadow: 1px 2px 3px #333333;
}
#hero-over{
    position: relative;
    z-index: 10;
}
#blend-over{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #333333 5%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, #333333 95%),
                linear-gradient(180deg, #333333 5%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, #333333 95%);
    z-index: 0;
}



/* ------------------------------------- Media Queries --- */
/* Slightly larger container on XL screens */
@media (min-width: 1200px){
    .container{
        max-width: 90%;
    }
}
/* Fixed top navbar only on medium and up */
@media (min-width: 992px){
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
    }
    .header-container{
        padding-top: 164px;
    }
}