{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="row" id="space-top"></div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <p class="small breadcrumbs">
                <strong>You Are Here:</strong> 
                <a href="{% url 'home' %}">HOME</a> <i class="fas fa-chevron-circle-right"></i> 
                <a href="{% url 'about_us' %}">ABOUT</a> <i class="fas fa-chevron-circle-right"></i> 
                <a href="#">COMMISSION</a>
            </p>
            <div class="col-12 text-center">
                <h1 class="logo-font display-3 text-muted">
                    Commission
                </h1>
                <p class="h2">Top Rank Freelance</p>
                <hr class="hr-center">
            </div>
        </div>
        <div class="row">
            <h2 class="text-muted">Our Fees</h2>
            <hr class="left-div">
            <div class="row mb-5">
                <h3 class="text-center">
                    Current Fees:
                </h3>
                <ol>
                    <li>Top Rank currently operates on a policy of minimal charges. This policy includes commission.</li>
                    <li>As a freelancer on Top Rank, you will not see any commission fees taken from you in the course of selling on Top Rank.</li>
                    <li>Our flat fee of €1 is taken on every sale. This fee is not a factor of product price, or the quanity of products purchased in a single checkout.</li>
                    <li>Our commission rates are subject to change.</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
    $('.popover-dismiss').popover({
        trigger: 'focus'
    });
</script>
{% endblock %}