{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="row" id="space-top"></div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <p class="small breadcrumbs">
                <strong>You Are Here:</strong> 
                <a href="{% url 'home' %}">HOME</a> <i class="fas fa-chevron-circle-right"></i> 
                <a href="{% url 'about_us' %}">ABOUT</a> <i class="fas fa-chevron-circle-right"></i> 
                <a href="#">MEMBER FEATURES</a>
            </p>
            <div class="col-12 text-center">
                <h1 class="logo-font display-3 text-muted">
                    Member features
                </h1>
                <p class="h2">Top Rank Freelance</p>
                <hr class="hr-center">
            </div>
        </div>
        <div class="row">
            <h2 class="text-muted">Member Features:</h2>
            <hr class="left-div">
            <div class="row">
                <div class="col-12 col-md-6 order-sm-1 p-4">
                    <h2 class="text-center text-muted mt-4">Members Dashboard:</h2>
                    <hr class="hr-center mb-3">
                    <ul class="unstyled-list">
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Improved User Experience" data-content="Save information to your dashboard to allow for fast checkout.">
                                Easy Save Info For Seamless Checkout
                            </a>
                        </li>
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Track Your Orders" data-content="Easily view your order history.">
                                Track Previous Orders
                            </a>
                        </li>
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Bookmark Developers" data-content="As a member you can save your favorite developers, so you can easily track them down in the future!">
                                Bookmark Developers
                            </a>
                        </li>
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Bookmark Products" data-content="As a member you can save your favorite products, to shortlist them, or save them for buying again in the future.">
                                Bookmark Products
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 order-sm-2 relative">
                    <div class="absolute-green"></div>
                    <div id="dashboard-image"></div>
                </div>
            </div>

            <div class="row mb-2 mt-2">
                <div class="col-12 col-md-6 order-2 order-md-1 relative">
                    <div class="absolute-green"></div>
                    <div id="deals-image"></div>
                </div>
                <div class="col-12 col-md-6 order-1 order-md-2 p-4">
                    <h2 class="text-center text-muted mt-4">Access To Deals:</h2>
                    <hr class="hr-center mb-3">
                    <ul class="unstyled-list">
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Freelancer Promoted Deals" data-content="Freelancers may use coupons as a way of attracting new customers. These coupons will be automatically compiled and send to members on a regular basis.">
                                Freelancer Promoted Deals
                            </a>
                        </li>
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Coupons" data-content="Coupons can be redeemed via our special offers page.">
                                Coupons
                            </a>
                        </li>
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Individual Deals" data-content="Not happy with the price of a product? Contact the seller to see if you can get a discount!">
                                Individual Deals
                            </a>
                        </li>
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Save Money" data-content="Overall members will avail of more promotions than non members. As our platform is free, this means that in the long run you will save money by joining Top Rank.">
                                Save Money
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-6 order-sm-1 p-4">
                    <h2 class="text-center text-muted mt-4">Full Access To Freelancers:</h2>
                    <hr class="hr-center mb-3">
                    <ul class="unstyled-list">
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Find Freelancers" data-content="As a member you will gain immediate access to browse a full range of freelancers ready to tackle your next project.">
                                Easily Find Freelancers
                            </a>
                        </li>
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Talk" data-content="Not sure if you have the right person? No problem, chat with freelancers before committing to anything!">
                                Communicate With Freelancers
                            </a>
                        </li>
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Propose A Deal" data-content="Sometimes there's more to projects than money! Make proposals to freelancers to see if they are interested in negotiating a deal.">
                                Make Proposals
                            </a>
                        </li>
                        <li class="lh-2">
                            <a tabindex="0" class="h5 text-white w-50" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Negotiate" data-content="Bigger, more complex projects may take a while, which may be costly. As a member you will be able to negotiate a price per hour, or per project directly with freelancers.">
                                Negotiate Terms For Longer Contracts
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 order-sm-2 relative">
                    <div class="absolute-green"></div>
                    <div id="access-freelancers"></div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
{% block postloadjs %}
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
    $('.popover-dismiss').popover({
        trigger: 'focus'
    });
</script>
{% endblock %}